# notes
notes/wordpress

# alias
alias/.ssh
alias/.tmp
alias/.docker
scripts/tmp

# scripts
scripts/tmp/*
!scripts/tmp/.gitkeep

#config
config/*
!config/*_example
!config/.dircolors

# apple
.DS_Store