#!/bin/bash 

# Create a new directory and enter it
function mk() {
  sudo mkdir -p "$@" && cd "$@"
}

function ch() {
  if [ -z $1 ]
  then
    sudo chmod -R 777 *
    return
  fi

  # check if no second argument
  if [ -z $2 ]
  then
    if [ $1 == "bin" ]
    then
      sudo chmod -R 777 ~/bin
    else
      sudo chmod -R $1 *
    fi
  else
      sudo chmod -R $1 $2
  fi
}

# unzip and remove
function unziprm() {
  unzip $1 && rm $1
}
# untar and remove
function untarrm() {
  untar $1 && rm $1
}

# unzip and remove latest file
# function unziprml() {
#   unset -v latest
#   for file in $pwd; do
#     [[ $file -nt $latest ]] && latest=$file
#   done

#   # unzip $1 && rm $1 &&
#   echo "unziped and removed $latest"
# }

# edit

# zip all files in current directory, with name backup-(current_date).zip
function backup() {
  name="backup-$(date +"%Y-%m-%d_%H-%M").zip"

  zip -r $name * > /dev/null &&
  echo "zipped all files to "$name
}

# Open /var/www directory or one of it's subfolders it argument is given
function ww() {
  if [ -z $1 ]
  then
    cd /var/www
    return
  fi

  cd /var/www/$1/html
}

# same function as ww
function www() {
  if [ -z $1 ]
  then
    cd /var/www
    return
  fi

  cd /var/www/$1/html
}