#!/bin/bash 

function sc(){
  if [[ "$SHELL" == "/bin/zsh" ]]; then
    source ~/.zshrc &&
    echo "SOURCED ~/.zshrc"
  else
    source ~/.bashrc &&
    echo "SOURCED ~/.bashrc"
  fi
}

# Create a new directory and enter it
function mk() {
  sudo mkdir -p "$@" && cd "$@"
}

function ch() {
  if [ -z "$1" ]
  then
    sudo chmod -R 777 * &&
    echo -e "all files permissions here changed to \e[32m""777""\e[0m"
    return
  fi
  
  if [ ! -z $1 ] && [ -z $2 ]
  then
    sudo chmod -R $1 * &&
    echo -e "all files permissions here changed to \e[32m"$1"\e[0m" &&
    return
  fi

  if [[ "$2" == "scripts" ]]
  then
      sudo chmod -R $1 ~/dotfiles/scripts &&
      echo -e "all scripts permissions here changed to \e[32m"$1"\e[0m"
  else
      sudo chmod -R $1 $2 && 
      echo -e "all $2 permissions here changed to \e[32m"$1"\e[0m"
  fi
}

# unzip and remove
function unziprm() {
  unzip $1 && rm $1
}
# untar and remove
function untarrm() {
  untar $1 && rm $1
}

# unzip and remove latest file
# function unziprml() {
#   unset -v latest
#   for file in $pwd; do
#     [[ $file -nt $latest ]] && latest=$file
#   done

#   # unzip $1 && rm $1 &&
#   echo "unziped and removed $latest"
# }

# edit

# zip all files in current directory, with name backup-(current_date).zip
function backup() {

  if [ -z $1 ]
  then
      dir_name=`basename "$PWD"`
      name="backup-$dir_name-$(date +"%Y-%m-%d_%H-%M").zip"
      zip -r $name * > /dev/null &&
      echo "zipped all files to "$name
  else
      name="backup-$1-$(date +"%Y-%m-%d_%H-%M").zip"
      zip -r $name $1 > /dev/null &&
      echo "zipped $1 files to "$name
  fi

}

# Open /var/www directory or one of it's subfolders it argument is given
function ww() {
  if [ -z $1 ]
  then
    cd /var/www
    return
  fi

  cd /var/www/$1*
}

# same function as ww
function www() {
  if [ -z $1 ]
  then
    cd /var/www
    return
  fi

  cd /var/www/$1/html
}

function wp-install(){
  if [ -z $1 ]
  then
    echo "please provide project name"
    return
  fi
  wp core install --url="http://"$1".local " --title=$1 --admin_user='admin' --admin_password='admin' --admin_email='man.lukosevicius@gmail.com'
}